# Ignore the entire Projects Planning directory
Projects Planning/

# Ignore specific CSV files in the Social Media Influencer directory
Social Media Influencer/instagram.csv
Social Media Influencer/social media influencers - tiktok.csv
Social Media Influencer/social media influencers - youtube.csv