# Ignore the instagram.csv file in the Social Median Influencer directory
Social Median Influencer/instagram.csv
Social Median Influencer/social media influencers - tiktok.csv
Social Median Influencer/social media influencers - youtube.csv