<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> I graduated from UC Berkeley with a Master’s degree in Data Science and a Bachelor’s degree in Physics and Astronomy. I have a deep passion for combining programming, AI, and mathematics to solve global challenges and contribute to advancing humanity.
          My academic experience includes research on galaxy clusters, where I utilized Python and mathematical modeling to explore galaxy properties. Afterward, I worked as a Data Scientist at Volt Lab Inc., where I applied machine learning, NLP, and data engineering to develop solutions for complex, real-world problems.
          I’m excited to bring my skills and experience to new, diverse projects and look forward to tackling complex challenges across various industries.
        </p>
      </div>
      <div class="col-lg-4">
        <p> In addition to my professional work, I’m passionate about staying up-to-date with the latest developments in data science and AI. I regularly read research articles and work on personal and collaborative projects to deepen my expertise. Beyond my love for AI, I’m an avid hiker and enjoy rock climbing. Living in the Pacific Northwest has given me the opportunity to explore the stunning outdoors, including hikes at Mt. Rainier, Olympic National Park, North Cascades, and Mt. Baker. These experiences have instilled in me a deep appreciation for nature and the environment we live in.
           </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
