<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>   I graduated from UC Berkeley with a Master’s degree in Data Science and a Bachelor’s degree in Physics and Astronomy. I have a deep passion for combining programming, AI, and mathematics to solve global challenges and contribute to advancing humanity. My academic experience includes research on galaxy clusters, where I utilized Python and mathematical modeling to explore galaxy properties. Afterward, I worked as a Data Scientist at Volt Lab Inc., where I applied machine learning, NLP, and data engineering to develop solutions for complex, real-world problems. I am now eager to bring my skills to new and diverse projects, taking on complex challenges across various industries.
        </p>
      </div>
      <div class="col-lg-4">
        <p>     In addition to my professional work, I’m passionate about staying up-to-date with the latest developments in data science and AI. I regularly read research articles and work on both personal and collaborative projects to sharpen my expertise. When I’m not immersed in technology, I’m often found outdoors. Living in the Pacific Northwest has allowed me to explore incredible places like Mt. Rainier, Olympic National Park, North Cascades, and Mt. Baker. Hiking and rock climbing have deepened my appreciation for nature, and this balance between technology and the outdoors keeps me grounded and inspired.

           </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download My Resume
        </a>
      </div>
    </div>
  </div>
</section>
