<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <!-- Professional Side -->
      <div class="col-lg-6">
        <h3 class="text-center">Professional</h3>
        <p>
          I am a Data Scientist with a Master’s degree in Data Science from UC Berkeley and a background in Physics and Astronomy. I have extensive experience in building machine learning models, applying Natural Language Processing (NLP), and performing data engineering to deliver real-world solutions. 
        </p>
        <p>
          In my professional journey, I've worked at Volt Lab Inc., where I developed data-driven solutions to tackle complex industry problems. From spam detection systems to predictive analytics, I’ve used my technical expertise in Python, SQL, and machine learning frameworks to create impactful projects. As a freelancer, I offer tailored data science solutions, including data analysis, predictive modeling, and AI strategy for businesses looking to leverage data for growth and efficiency.
        </p>
      </div>
      <!-- Personal Side -->
      <div class="col-lg-6">
        <h3 class="text-center">Personal</h3>
        <p>
          Outside of work, I’m passionate about balancing technology with nature. Living in the Pacific Northwest, I spend my free time exploring the outdoors, whether hiking the trails of Mt. Rainier or rock climbing in the North Cascades. These adventures allow me to recharge and maintain a fresh perspective for my professional work.
        </p>
        <p>
          I'm also committed to continuous learning. Whether reading the latest AI research papers or experimenting with new technologies, I am always sharpening my skill set. My personal interests in astronomy and physics also continue to inspire me, fueling my drive to explore and solve complex problems, both in and out of the workplace.
        </p>
      </div>
      <div class="col-lg-12 text-center">
        <a href="https://raw.githubusercontent.com/Mamesa-El/Data-Science-Portfolio/main/Mamesa_Resume_2024.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download My Resume
        </a>
      </div>
    </div>
  </div>
</section>
